ul.color-tagging-colors-wrapper { margin: 0; padding: 0; list-style-type: none; }
ul.color-tagging-colors-wrapper li { display: inline-block; vertical-align: top; }
p.color-tagging-color-text { margin: 5px 0; text-align: center; font-size: 12px; }
p.color-tagging-color-code { margin: 0px 0;text-align: center;font-size: 12px; }
.color-tagging-actual-color { width: 100px; height: 20px; }